<div class="container">
  <div class="row">
    <div class="col-8 mt-5">
      <ol>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
        <li>List item four</li>
        <li>List item five</li>
      </ol>
      <label>Your Name</label>
      <input type="text" [(ngModel)]="userName" />

      <p *ngIf="createServer; else noServer">Server Created</p>
      <ng-template #noServer>
          <p [ngStyle]="{color:'#0000ff'}">No Server Created</p>
      </ng-template>
      <p>Server status is <span [ngStyle]="{color:getColor()}">{{serverStatus}}</span></p>

    
    </div>
  </div>
</div>
